.conteudo {
  width: 1100px;
  height: 65%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0px;
  display: flex;
  align-items: flex-start;
 }

.contentl {
  max-width: 700px;
  float:left;
}

.contentr {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  float:left;
}

.contentl h1 {
  font-size: 60px;
  color: rgb(61, 23, 23);
}

.contentl p {
  font-size: 24px;
  margin-top: 18px;
  line-height: 34px;
  color: rgb(61, 23, 23);
}

.contentl a {
  width: 100%;
  max-width: 360px;
  height: 72px;
  background: #0f0f0f;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 40px;
}


.acesso {
  display: block;
  color: #FFF;
  width: 300px;
  height: 20px;
  flex: 1;
  text-align: center;
  align-items: center;
  transition: background-color 0.2s;
}

.acesso a span {
  color: #FFF;
}

.acesso  span {
  align-items: stretch;
  margin-left: 10px;
}
.acesso  a strong {
  flex: 1;
  text-align: center;
  color: #FFF;
  font-size: 25px;
}

.acesso a:hover {
  background: #575858;
}

@media(max-width: 1000px) {
  #conteudo .contentl {
    align-items: center;
    text-align: center;
  }

.contentl main h1 {
    font-size: 42px;
  }

}



