.new-prop-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-prop-container .content {
  width: 100%;
  padding: 100px;
  background: #F0F0F5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  align-items: center;

}

.new-prop-container .content section {
  width: 100%;
  max-width: 380px;
}

.new-prop-container section.form{
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
  height: 50%;
}

.new-prop-container section.form img {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.new-prop-container .content section h2{
  margin: 64px 0 32px;
  font-size: 36px;
  text-align: center;
}
.new-prop-container .content section h3{
  margin: 64px 0 32px;
  font-size: 22px;
  text-align: center;
}

.new-prop-container .content section p {
  font-size: 12px;
  color: #737380;
  line-height: 32px;
  text-align: center;
}

.new-prop-container .content form {
  width: 100%;
  max-width: 450px;
}

.new-prop-container .content form input {
  margin-top: 8px;
}

.load-prop {
  position:absolute;
  top:15%;
  left:55%;
  color:blue;
  
}

.load-prop img {
  width:100px;
  height:100px;
}




